Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.zip
*.rar
*.swf
*.psd
/Web/BLL/bin
/Web/BLL/obj
/Web/Web/bin
/Web/Data/bin
/Web/Data/obj
/Web/LIB/bin
/Web/LIB/obj
/Web/Web/obj
/Web/*.suo
/Web/Web/Upload
/Web/Web/Properties/PublishProfiles/huliPub.pubxml.user
Web/.vs/huLi/v15/Server/sqlite3/db.lock
/Web/.vs
/src/FatTiger.Blog.HttpApi.Hosting/.local-chromium/Win64-706915/chrome-win
/src/FatTiger.Blog.HttpApi.Hosting/appsettings.json
/src/FatTiger.Blog.HttpApi.Hosting/FatTiger.pdf
